<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Gradle</string>
	<key>uuid</key>
	<string>B32BCC2A-ACD4-41BA-BA30-14086BC4A1F5</string>
</dict>
</plist>
